@media (min-width: 640px) {
    .TypeAnimation{
    display: inline-block; 
   }
}
  @media (min-width: 768px) { 
    .TypeAnimation{
    font-size: 3rem;
  line-height: 1; 
   }
}
  
  @media (min-width: 1280px) { 
    .TypeAnimation{
    font-size: 4.5rem;
  line-height: 1; 
   }
}